code[class*=language-], pre[class*=language-] {
    color: #c5c8c6;
    text-shadow: 0 1px rgba(0, 0, 0, .3);
    font-family: Inconsolata, Monaco, Consolas, Courier New, Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background: #1d1f21
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #7c7c7c
}

.token.punctuation {
    color: #c5c8c6
}

.namespace {
    opacity: .7
}

.token.keyword, .token.property, .token.tag {
    color: #96cbfe
}

.token.class-name {
    color: #0070F0;
    text-decoration: underline
}

.token.boolean, .token.constant {
    color: #9c9
}

.token.deleted, .token.symbol {
    color: #f92672
}

.token.number {
    color: #ff73fd
}

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
    color: #a8ff60
}

.token.variable {
    color: #c6c5fe
}

.token.operator {
    color: #ededed
}

.token.entity {
    color: #0070F0;
    cursor: help
}

.token.url {
    color: #96cbfe
}

.language-css .token.string, .style .token.string {
    color: #87c38a
}

.token.atrule, .token.attr-value {
    color: #f9ee98
}

.token.function {
    color: #dad085
}

.token.regex {
    color: #e9c062
}

.token.important {
    color: #fd971f
}

.token.bold, .token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
    position: relative;
    white-space: inherit
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: local("Ubuntu Light "), local("Ubuntu-Light"), url(/static/ubuntu-latin-300-16a73d944d9825af5a5c1a1f55de8f28.woff2) format("woff2"), url(/static/ubuntu-latin-300-f47318810718978402787f6c97d80b3c.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-display: swap;
    font-weight: 300;
    src: local("Ubuntu Light italic"), local("Ubuntu-Lightitalic"), url(/static/ubuntu-latin-300italic-094f326bbf5d701e828be07645618e13.woff2) format("woff2"), url(/static/ubuntu-latin-300italic-1f11b1e747c45516b1a5478480d6cedd.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Ubuntu Regular "), local("Ubuntu-Regular"), url(/static/ubuntu-latin-400-5b23eeb3a32b30e91682d601535d2a89.woff2) format("woff2"), url(/static/ubuntu-latin-400-1e926e228a9e2e1e77034f624211e2b4.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local("Ubuntu Regular italic"), local("Ubuntu-Regularitalic"), url(/static/ubuntu-latin-400italic-ff2b5b4da106e880a3f3733fd5d77ceb.woff2) format("woff2"), url(/static/ubuntu-latin-400italic-27149a968393dbdc0d872f05f177e843.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local("Ubuntu Medium "), local("Ubuntu-Medium"), url(/static/ubuntu-latin-500-b4e565dcfc8f6cb332be0fc03302ad99.woff2) format("woff2"), url(/static/ubuntu-latin-500-e5613b0c875443174f948840c8ce07f6.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src: local("Ubuntu Medium italic"), local("Ubuntu-Mediumitalic"), url(/static/ubuntu-latin-500italic-657fed7d867932571e9fa5fab260ed90.woff2) format("woff2"), url(/static/ubuntu-latin-500italic-f068ac523f3d278ff11cfa4010af4d2a.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Ubuntu Bold "), local("Ubuntu-Bold"), url(/static/ubuntu-latin-700-b91fae466c698c775adb2ae92cecc8b2.woff2) format("woff2"), url(/static/ubuntu-latin-700-669545b14b8032954bfe46909785c19f.woff) format("woff")
}

@font-face {
    font-family: Ubuntu;
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src: local("Ubuntu Bold italic"), local("Ubuntu-Bolditalic"), url(/static/ubuntu-latin-700italic-c02fdf8544ee71a10050b800f1c146b1.woff2) format("woff2"), url(/static/ubuntu-latin-700italic-ad7e4c2f2d357a1eb39a11ecc1ad43aa.woff) format("woff")
}

code {
    background-color: rgba(0, 0, 0, .04)
}

body {
    margin: 0;
    font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

progress {
    vertical-align: baseline
}

[hidden], template {
    display: none
}

a {
    font-style: normal;
    text-decoration: none;
    border-radius: 1em 0 1em 0;
    color: rgba(0, 0, 0, .8);
    -webkit-text-decoration-skip: objects
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html {
    font: 112.5%/1.45em georgia, serif;
    font-size: 20px;
    box-sizing: border-box;
    overflow-y: scroll
}

*, :after, :before {
    box-sizing: inherit
}

body {
    color: rgba(0, 0, 0, .8);
    /*! font-weight:400; */
    /*! word-wrap:break-word; */
    -webkit-font-kerning: normal;
    /*! font-kerning:normal; */
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    /*! font-feature-settings:"kern","liga","clig","calt" */
    outline: none;
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 1.45rem
}

h1 {
    font-size: 2.25rem
}

h1, h2 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.38316rem
}

h3, h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1
}

h4 {
    font-size: 1rem
}

h5 {
    font-size: .85028rem
}

h5, h6 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    line-height: 1.1
}

h6 {
    font-size: .78405rem
}

hgroup {
    padding: 0;
    margin: 0 0 1.45rem
}

ol, ul {
    padding: 0;
    margin: 0 0 1.45rem 1.45rem;
    list-style-position: outside;
    list-style-image: none
}

dd, dl, figure, p {
    padding: 0;
    margin: 0 0 1.45rem
}

pre {
    margin: 0 0 1.45rem;
    font-size: .78rem;
    line-height: 1.42;
    background: rgba(0, 0, 0, .04);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 1.45rem
}

table {
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%
}

fieldset, table {
    padding: 0;
    margin: 0 0 1.45rem
}

blockquote {
    padding: 0;
    margin: 0 1.45rem 1.45rem
}

form, iframe, noscript {
    padding: 0;
    margin: 0 0 1.45rem
}

hr {
    padding: 0;
    margin: 0 0 calc(1.45rem - 1px);
    background: rgba(0, 0, 0, .2);
    border: none;
    height: 1px
}

address {
    padding: 0;
    margin: 0 0 1.45rem
}

b, dt, strong, th {
    font-weight: 700
}

li {
    margin-bottom: .725rem
}

ol li, ul li {
    padding-left: 0
}

li>ol, li>ul {
    margin-left: 1.45rem;
    margin-bottom: .725rem;
    margin-top: .725rem
}

blockquote :last-child, li :last-child, p :last-child {
    margin-bottom: 0
}

li>p {
    margin-bottom: .725rem
}

code, kbd, samp {
    font-size: .78rem;
    line-height: 1.45rem
}

abbr, abbr[title], acronym {
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
    cursor: help
}

abbr[title] {
    text-decoration: none
}

td, th, thead {
    text-align: left
}

td, th {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding: .725rem .96667rem calc(.725rem - 1px)
}

td:first-child, th:first-child {
    padding-left: 0
}

td:last-child, th:last-child {
    padding-right: 0
}

code, tt {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px;
    font-family: SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono, Liberation Mono, Menlo, Courier, monospace;
    padding: 0
}

pre code {
    background: none;
    line-height: 1.42
}

code:after, code:before, tt:after, tt:before {
    letter-spacing: -.2em;
    content: " "
}

pre code:after, pre code:before, pre tt:after, pre tt:before {
    content: ""
}

a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection {
    background: rgba(51, 147, 255, .8);
}

.gatsby-highlight {
    background-color: #1d1f21;
    border-radius: .3em;
    margin: .5em 0;
    padding: 1em;
    overflow: auto
}

.gatsby-highlight pre[class*=language-].line-numbers {
    padding: 0 0 0 2.8em;
    overflow: initial
}

@media only screen and (max-width:480px) {
    html {
        font-size: 100%
    }
}

/* Fade */

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms var(--easing);
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms var(--easing);
}

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #172a45;
    --lightest-navy: #303C55;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --slate: #8892b0;
    --light-slate: #6470AA;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --lightblue: #0070F0;
    --lightblue-tint: rgba(100, 255, 218, 0.1);
    --font-sans: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --hamburger-width: 30px;
    --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
    --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
    --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
}

a:hover, a:focus {
    color: var(--lightblue);
}

.inline-link {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: var(--transition);
    cursor: pointer;
    color: var(--lightblue);
}

.inline-link:hover, .inline-link:focus, .inline-link:active {
    color: var(--lightblue);
    outline: 0;
}

inline-link:hover :after, .inline-link:focus :after, .inline-link:active :after {
    width: 100%;
}

.inline-link:hover>*, .inline-link:focus>*, .inline-link:active>* {
    color: var(--lightblue) !important;
    transition: var(--transition);
}

inline-link:hover>* :after, .inline-link:focus>* :after, .inline-link:active>*:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--lightblue);
    transition: var(--transition);
    opacity: 0.5;
}